---

---

<header class="fixed top-0 left-0 w-full bg-gray-900 text-white shadow-xl shadow-blue-900/70 flex items-center px-6 py-4">

  <div class="w-3xs flex flex-row ">
    <span class="text-4xl ml-12 font-[Oswald] font-thin text-blue-300">FM</span>
    <span class="text-4xl  font-[Oswald] font-thin text-blue-600">FA</span>
  </div>

  <nav class="flex-1 flex justify-center">
      <ul class="flex gap-6">
          <li><a href="/#inicio" class="text-xl hover:text-blue-300">Inicio</a></li>
          <li><a href="/#sobre" class="text-xl hover:text-blue-300">Sobre Mí</a></li>
          <li><a href="/#tecnologias" class="text-xl hover:text-blue-300">Tecnologías</a></li>
          <li><a href="/#proyectos" class="text-xl hover:text-blue-300">Proyectos</a></li>
      </ul>
  </nav>

  <div class="w-3xs flex justify-center">
    <!-- Proxima Actualizacion Modo Oscuro 
    <label class=" relative inline-flex items-center cursor-pointer">
        <input type="checkbox" id="languageToggle" class="sr-only peer">
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 
                    rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white 
                    after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white 
                    after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all 
                    peer-checked:bg-blue-500">
        </div>
    </label>
    -->
  </div>
</header>